
body{
    background-image: url("./images/back-min.jpg");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center;
    width:100;
position: relative;
}

img {
    border-radius: 50%;
    position: relative;
    left: 75%;
    top:-2%;
    

  }
  #back{
    background-color:grey;
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    padding: 2em;
    margin: 2em;
}


  #about{
      background-color:transparent;
      border-top-right-radius: 7%;
      border-top-left-radius: 7%;
      border-bottom-left-radius: 7%;
      border-bottom-right-radius: 7%;
      padding: 2em;
      margin: 2em;
  }

  #name{
      padding: 2em;
      margin: 2em;
  }
.aboutme{
    margin: 2em;
    padding: 2em;
    text-align: right
}

.contact-form{
    background:rgb(0, 0, 0);

    margin-top: 10%;
    margin-bottom: 5%;
    width: 10%;
}
.contact-form .form-control{
    border-radius:1rem;
}
